<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Card</title>
</head>
<body>
<h1>Credit Card</h1>
<p>Card Number</p>
<p th:text="${creditCard.getCardNumber()}"/>
<p>Credit Limit</p>
<p th:text="${creditCard.getCreditLimit()}"/>
<form action="#" th:action="@{/tx/transaction-form}" method="get">
    <input type="hidden" th:name="paymentInstrumentId" th:value="${creditCard.getId()}" />
  <p><input type="submit" value="Transfer" /></p>
</form>
</body>
</html>