<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{~/static/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>Online Banking</title>
</head>
<body>
<header>
    <h1>Online Banking</h1>
    <a class="custom-btn" href="#">Login</a>
</header>
<div class="container">
    <div class="content">
        <h2>Registration Form</h2>
        <form action="#" th:action="@{/auth/register}" th:object="${userCustomerWrapper}" method="post">
            <div>
                <p>Email: <input type="text" th:field="*{userRegistrationRequest.email}" required/></p>
                <p>Username: <input type="text" th:field="*{userRegistrationRequest.username}" required/></p>
                <p>Password: <input type="text" th:field="*{userRegistrationRequest.password}" required/></p>
            </div>
            <div>
                <p>First Name: <input type="text" th:field="*{customerRegistrationRequest.firstName}" required/></p>
                <p>Last Name: <input type="text" th:field="*{customerRegistrationRequest.lastName}" required/></p>
                <p>Address: <input type="text" th:field="*{customerRegistrationRequest.address}" required/></p>
                <p>Tax Payer ID: <input type="text" th:field="*{customerRegistrationRequest.taxPayerId}" required/></p>
            </div>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
</body>
</html>