<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form-div" class="bg-light p-5 border rounded-3">
    <h2 class="display-4 d-flex justify-content-center">Bank Transfer Form</h2>
    <form id="form-1" th:action="@{~/payment-instrument/open-payment-instrument}" th:object="${paymentInstrumentRequest}" method="post">
        <input type="hidden" th:name="bankAccountNumber" th:value="${accountNumber}">
        <input type="hidden" th:name="paymentInstrumentRequest" th:value="${'BANK_TRANSFER'}">
        <button type="submit" class="btn btn-primary btn-md btn-outline-light border">Submit</button>
    </form>
</div>
</body>
</html>