<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" class="container mt-auto">
    <footer class="footer d-flex flex-wrap align-items-center py-3 my-4 border-top">
        <p class="col-md-4 text-body-secondary">2023 Matvii Butenov</p>
        <ul class="nav col-md-8 justify-content-end list-unstyled">
            <li class="nav-item">
                <a class="nav-link text-body-secondary" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-body-secondary" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-body-secondary" href="#">Link</a>
            </li>
        </ul>
    </footer>
</div>
</body>
</html>