<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="container py-4">
        <nav class="navbar border-bottom navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{~/}">Online Banking</a>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
                <a sec:authorize="isAuthenticated()" href="#" class="nav-item btn btn-dark btn-outline-light border"
                   th:text="${#authentication.getName()}"></a>
                <form sec:authorize="isAuthenticated()" method="post" th:action="@{~/auth/logout}">
                    <button type="submit" name="submit" value="value"
                            class="nav-item btn btn-dark btn-outline-light border">Logout
                    </button>
                </form>
                <a sec:authorize="isAnonymous()" class="nav-item btn btn-dark btn-outline-light border"
                   th:href="@{~/auth/login}">
                    Login
                </a>
            </div>
        </nav>
    </div>
</header>
</body>
</html>